<div class="hamburger">
    <div class="hamburger__inner">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<div class="button">
    <div class="button__inner">
        <div class="button__content">
            <span class="button__text-desktop">Neem contact op</span>
        </div>
    </div>
</div>

<article
    class="mt-4 bg-white dark:bg-gray-900 p-8 shadow-xl rounded-2xl max-w-xl prose prose-slate dark:prose-invert h-[500vh]">
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
    {{ content | widont }}
</article>